<div class="idea-occ-list-page">
    <div class="chart-ideas-result ">
        <div class="panel panel-default ">
            <div class="row panel-body">
                <div class="col-md-12 col-12 col-lg-5 ">
                    <!--This is for showing the piechart-->
                    <div class="col-12 col-md-12 col-lg-5 text-center p-0">
                        <div class="donut-chart1">
                            <div id="part11" class="portion-block3">
                                <div class="circle3 idea-color-level">
                                    <div class="circTxt text1"></div>
                                </div>
                            </div>
                            <div id="part12" class="portion-block3">
                                <div class="circle3 idea-color-level">
                                    <div class="circTxt text1"></div>
                                </div>
                            </div>
                            <div id="part13" class="portion-block3">
                                <div class="circle3 idea-color-level">
                                    <div class="circTxt text1"></div>
                                </div>
                            </div>
                            <div id="part14" class="portion-block3">
                                <div class="circle3 idea-color-level">
                                    <div class="circTxt text1"></div>
                                </div>
                            </div>
                            <div id="part15" class="portion-block3">
                                <div class="circle3 idea-color-level">
                                    <div class="circTxt text1"></div>
                                </div>
                            </div>
                            <div id="part16" class="portion-block3">
                                <div class="circle3 idea-color-level">
                                    <div class="circTxt text1"></div>
                                </div>
                            </div>

                            <p class="center3"></p>
                            <div class="donut-chart2">
                                <div id="part21" class="portion-block2">
                                    <div class="circle2 idea-color-level">
                                        <div class="circTxt"></div>
                                    </div>
                                </div>
                                <div id="part22" class="portion-block2">
                                    <div class="circle2 idea-color-level">
                                        <div class="circTxt"></div>
                                    </div>
                                </div>
                                <div id="part23" class="portion-block2">
                                    <div class="circle2 idea-color-level">
                                        <div class="circTxt"></div>
                                    </div>
                                </div>
                                <div id="part24" class="portion-block2">
                                    <div class="circle2 idea-color-level">
                                        <div class="circTxt"></div>
                                    </div>
                                </div>
                                <div id="part25" class="portion-block2">
                                    <div class="circle2 idea-color-level">
                                        <div class="circTxt"></div>
                                    </div>
                                </div>
                                <div id="part26" class="portion-block2">
                                    <div class="circle2 idea-color-level">
                                        <div class="circTxt"></div>
                                    </div>
                                </div>
                                <p class="center2"></p>
                                <div class="donut-chart3">
                                    <div id="part31" class="portion-block1">
                                        <div class="circle1 idea-color-level">
                                            <div class="circTxt"></div>
                                        </div>
                                    </div>
                                    <div id="part32" class="portion-block1">
                                        <div class="circle1 idea-color-level">
                                            <div class="circTxt"></div>
                                        </div>
                                    </div>
                                    <div id="part33" class="portion-block1">
                                        <div class="circle1 idea-color-level">
                                            <div class="circTxt"></div>
                                        </div>
                                    </div>
                                    <div id="part34" class="portion-block1">
                                        <div class="circle1 idea-color-level">
                                            <div class="circTxt"></div>
                                        </div>
                                    </div>
                                    <div id="part35" class="portion-block1">
                                        <div class="circle1 idea-color-level">
                                            <div class="circTxt"></div>
                                        </div>
                                    </div>
                                    <div id="part36" class="portion-block1">
                                        <div class="circle1 idea-color-level">
                                            <div class="circTxt"></div>
                                        </div>
                                    </div>
                                    <p class="center1"></p>
                                    <div class="donut-chart4">
                                        <div id="part41" class="portion-block4">
                                            <div class="circle4 idea-color-level">
                                                <div class="circTxt"></div>
                                            </div>
                                        </div>
                                        <div id="part43" class="portion-block4">
                                            <div class="circle4 idea-color-level">
                                                <div class="circTxt"></div>
                                            </div>
                                        </div>
                                        <div id="part44" class="portion-block4">
                                            <div class="circle4 idea-color-level">
                                                <div class="circTxt"></div>
                                            </div>
                                        </div>
                                        <div id="part46" class="portion-block4">
                                            <div class="circle4 idea-color-level">
                                                <div class="circTxt"></div>
                                            </div>
                                        </div>
                                        <p class="center0"></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-12">

                    <div class="row">
                        <div class="col-md-12 col-lg-4 col-12"></div>
                        <div class="col-md-12 col-lg-8 col-12 pb-3">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-4 ">
                                    <div class="color-text">
                                        <i class="square-box  graphbgcolor-1" aria-hidden="true"></i>
                                        <span class="graphcolor-1">{{(introVal|async).commonText?.pageText?.resultsPage?.box?.key?.high}}</span>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-4">
                                    <div class="color-text">
                                        <i class="square-box  graphbgcolor-2" aria-hidden="true"></i>
                                        <span class="graphcolor-2">{{(introVal|async).commonText?.pageText?.resultsPage?.box?.key?.average}}</span>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-4 ">
                                    <div class=" color-text">
                                        <i class="square-box  graphbgcolor-3" aria-hidden="true"></i>
                                        <span class=" graphcolor-3"> {{(introVal|async).commonText?.pageText?.resultsPage?.box?.key?.low}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="d-flex justify-content-start list-box-ideas">
                        <div *ngIf="(ideasResultHigh.length)!==0">
                            <ul class="list-unstyled mb-1" *ngFor="let res of ideasResultHigh">
                                <li>
                                    <i class="square-box  graphbgcolor-1 pointer" [ngClass]="(interest==res.title)?'level-1':'dehigh-lighting-text-num'" aria-hidden="true"
                                        (click)="getIdeasAreaOccListParent(res.areaAbbr,res.title)"></i>
                                    <a href="javascript:;" [attr.id]="res.areaAbbr" class="pointer" [ngClass]="(interest==res.title)?'level-1':'dehigh-lighting-text-num'"
                                        [ngStyle]="{'color':res.color,'text-decoration': 'underline'}" (click)="getIdeasAreaOccListParent(res.areaAbbr,res.title)">{{res.title}} ({{res.areaAbbr}})</a>
                                </li>
                            </ul>
                        </div>


                        <div *ngIf="(ideasResultAverage.length)!==0" class="pl-5 pr-5">
                            <ul class="list-unstyled mb-1" *ngFor="let res of ideasResultAverage">
                                <li>
                                    <i class="square-box  graphbgcolor-2 pointer" [ngClass]="(interest==res.title)?'level-2':'dehigh-lighting-text-num'" aria-hidden="true"
                                        (click)="getIdeasAreaOccListParent(res.areaAbbr,res.title)"></i>
                                    <a href="javascript:;" class="pointer" [ngClass]="(interest==res.title)?'level-2':'dehigh-lighting-text-num'" [attr.id]="res.areaAbbr"
                                        [ngStyle]="{'color':res.color,'text-decoration': 'underline'}" (click)="getIdeasAreaOccListParent(res.areaAbbr,res.title)">{{res.title}} ({{res.areaAbbr}})</a>
                                </li>
                            </ul>
                        </div>
                        <div *ngIf="(ideasResultLow.length)!==0">
                            <ul class="list-unstyled mb-1" *ngFor="let res of ideasResultLow">
                                <li>
                                    <i class="square-box  graphbgcolor-3 pointer" [ngClass]="(interest==res.title)?'level-3':'dehigh-lighting-text-num'" aria-hidden="true"
                                        (click)="getIdeasAreaOccListParent(res.areaAbbr,res.title)"></i>
                                    <a href="javascript:;" class="pointer" [ngClass]="(interest==res.title)?'level-3':'dehigh-lighting-text-num'" [attr.id]="res.areaAbbr"
                                        [ngStyle]="{'color':res.color,'text-decoration': 'underline'}" (click)="getIdeasAreaOccListParent(res.areaAbbr,res.title)">{{res.title}} ({{res.areaAbbr}})</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngFor='let val of areaResult'>
    <div class="common-headding cmpr-cap-letr" *ngIf='interest==val.title'>
        {{interest}}
    </div>
    <p *ngIf='interest==val.title'>
        {{val.description}}
    </p>
</div>
<occupation-list>
</occupation-list>