<!-- Fixed navbar for interest-profiler assessment-->
<div class="assessment-questions">
    <div class="row desktop-design-display">
        <div class="col-md-12">
            <div class="panel ">
                <div class="panel-background parrot-green">
                    <div class="col-md-1 col-sm-2 col-lg-1 left-arrow-class">
                        <button class="white-color" [ngClass]="(isClassVisibleAbility)? 'common-disable-ques-arrow':'common-enable-ques-arrow'" (click)="$event.preventDefault();previousQuestion()"
                            [disabled]="(isClassVisibleAbility)">
                            <i [ngClass]="(isClassVisibleAbility)? 'class-withOpacity':''" class="fa  icon-asmnt-back-arrow " aria-hidden="true"></i>
                        </button>
                        <span> Q.{{cnt}} </span>
                    </div>
                    <div class="col-md-8 col-sm-7 col-lg-9">
                        <div class="progress">
                            <div class="progress-bar-bg-green" [ngStyle]="{'width': currentValue +'%'}"></div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-lg-2 text-right right-arrow-class">
                        <span>{{remaining}} {{(returnedVal|async).commonText.remaining}}</span>

                        <a href="#" class="pull-right white-color" *ngIf="showNxtAbility" (click)="$event.preventDefault();nextAbilityArrow(cnt)">
                            <i aria-hidden="true" class="fa icon-asmnt-forward-arrow "></i>
                        </a>
                    </div>
                </div>
                <div class="panel-question-box parrot-green text-center">
                    <p>{{aequesArr[abilitiesQuestionName]}}</p>
                </div>
                <div class="smile-circle" *ngFor="let item of (responseText|async).commonResponseText?.responses;let inx=index">
                    <div class="circle-width six text-center" *ngIf='inx!=6'>
                        <button class="circle-button parrot-green hover" [ngClass]="(btnHighLight==item.value)?'previous':''" (click)="callQuestion(item.value)">
                            <i class={{iconArray[inx]}}></i>
                            <p class="mt-1">{{item.text}}</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<br>-->
    <!-- mobile design for interest-profiler assessment -->

    <div class="mobile-design-display">
        <div class="panel-question-box parrot-green">
            <div class="container">
                <div class="row mt-2">
                    <div class="col-6">
                        <span class="text-right">Q.{{cnt}}</span>
                    </div>
                    <div class="col-6 text-right">
                        <span>{{remaining}} {{(returnedVal|async).commonText.remaining}}</span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-1 pt-1">
                        <div class="white-color" (click)="previousQuestion()">
                            <i [ngClass]="(isClassVisibleAbility)? 'class-withOpacity':''" class="fa icon-asmnt-back-arrow "></i>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="progress">
                            <div class="progress-bar-bg-green" [ngStyle]="{'width': currentValue +'%'}"></div>
                        </div>
                    </div>
                    <div class="col-1 pt-1">
                        <div class="white-color" *ngIf="showNxtAbility" (click)="nextAbilityArrow(cnt)">
                            <i aria-hidden="true" class="fa icon-asmnt-forward-arrow "></i>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12 text-center">
                        <p>{{aequesArr[abilitiesQuestionName]}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
        <div class="smile-cards-mobile" *ngFor="let item of (responseText|async).commonResponseText?.responses;let inx=index">
            <div class="smile-card-body hover parrot-green" *ngIf='inx!=6' [ngClass]="(btnHighLight==item.value)?'previous':''" (click)="callQuestion(item.value)">
                <div class="row valign">
                    <div class="col-9">
                        <p>{{item.text}}</p>
                    </div>
                    <div class="col-3">
                        <span>
                            <i class={{iconArray[inx]}}></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End  of interest-profiler assessment mobile design -->