
<div class="row p-b gutter-10 flex-row-cards">
  <div class="col-lg-6 col-md-6 col-12" *ngIf='(settingsTextTab?.sections).indexOf("Overview") != -1'>
    <div class="career-card cardcolor-5 cards-equal-height">
      <div class="career-card-header">
        <h5 class="card-title p-0"> <i class="icon-overview panal-icon-align" aria-hidden="true"></i> {{(settingsText).commonText?.allSections?.Overview}}
        </h5>
      </div>
      <div class="card-block career-card-body scroll-class">
        <div *ngFor="let item of (aboutthiscareer|async).Overview">
          <p *ngIf="item.type == 'p'">{{item.text}}</p>
          <ul *ngIf="item.type == 'ul'" class="list">
            <li *ngFor="let val of item.text">
              <div>{{val}}</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-12" *ngIf='(settingsTextTab?.sections).indexOf("ThingsToKnow") != -1'>
    <div class="career-card  cardcolor-4 cards-equal-height">
      <div class="career-card-header">
        <h5 class="card-title p-0"><i class="icon-job-list panal-icon-align" aria-hidden="true"></i> {{(settingsText).commonText?.allSections?.ThingsToKnow}}
        </h5>
      </div>
      <div class="card-block career-card-body scroll-class">
        <div *ngFor="let item of (aboutthiscareer|async).ThingsToKnow">
          <p *ngIf="item.type == 'p'">{{item.text}}</p>
          <ul class="list" *ngIf="item.type == 'ul'">
            <li *ngFor="let val of item.text">
              <div> {{val}} </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>