<!-- Fixed navbar for interest-profiler assessment-->
<div class="assessment-questions  babby-cci">
  <div class="row desktop-design-display">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-background light-blue">
          <div class="col-md-1 col-sm-2 left-arrow-class">
            <button class="white-color" [ngClass]="(isClassVisibleCCI)? 'common-disable-ques-arrow':'common-enable-ques-arrow'" (click)="$event.preventDefault();previousQuestion()"
              [disabled]="(isClassVisibleCCI)">
              <i [ngClass]="(isClassVisibleCCI)? 'class-withOpacity':''" class="fa  icon-asmnt-back-arrow" aria-hidden="true"></i>
            </button>
            <span>{{cnt}} </span>
          </div>
          <div class="col-md-8 col-sm-7 col-lg-9">
            <div class="progress">
              <div class="progress-bar-bg-green" [ngStyle]="{'width': currentValue +'%'}"></div>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-lg-2 text-right right-arrow-class">
            <span>{{remaining}} {{(ccireturnedVal|async).commonText.remaining}} </span>&nbsp;
            <a href="#" (click)="$event.preventDefault();nextCCIArrow(cnt)" class="white-color pull-right pointer" *ngIf="showNxtCCIQuick">
              <i aria-hidden="true" class="fa icon-asmnt-forward-arrow"></i>
            </a>
          </div>
        </div>

        <div class="panel-question-box light-blue text-center py-4">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 m-auto">
                <p>{{cciQuestionsArr[InterestQuestionName]}}</p>
                <div class="row m-auto">
                  <div class="smile-circle col-md-6 mt-1" *ngFor="let item of (responseText|async).commonResponseText?.responses;let inx=index">
                    <div class="circle-width  text-center float-none" *ngIf='inx!=4'>
                      <button class="circle-button light-blue hover " [ngClass]="(btnHighLight==item.value)? 'previous':''" (click)="callQuestion(item.value)">
                        <i class={{iconArray[inx]}}></i>
                        <p class="mt-1">{{item.text}}</p>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <img src="/assets/images/babby-cci.jpg" width="100%" height="100%" />
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  <!-- mobile design for interest-profiler assessment -->
  <div class="mobile-design-display">
    <div class="panel-question-box light-blue">
      <div class="mini-bar">
        <div class="container">
          <div class="row mt-2">
            <div class="col-1 pt-1">
              <span class="white-color" (click)="previousQuestion()">
                <i [ngClass]="(isClassVisibleCCI)? 'class-withOpacity':''" class="fa icon-asmnt-back-arrow "></i>
              </span>
            </div>
            <div class="col-9">
              <div class="progress">
                <div class="progress-bar-bg-green" [ngStyle]="{'width': currentValue +'%'}"></div>
              </div>
            </div>
            <div class="col-1 pt-1">
              <a href="#" (click)="$event.preventDefault();nextCCIArrow(cnt)" class="white-color" *ngIf="showNxtCCIQuick">
                <i aria-hidden="true" class="fa icon-asmnt-forward-arrow "></i>
              </a>
            </div>
          </div>


          <div class="row mt-2">
            <div class="col-6">
              <span class="text-right">{{cnt}} </span>
            </div>
            <div class="col-6 text-right">
              <span>{{remaining}} {{(ccireturnedVal|async).commonText.remaining}}</span>
            </div>
          </div>

        </div>
      </div>

      <div class=" w-100  py-2">
        <p class="text-center pt-2">{{cciQuestionsArr[InterestQuestionName]}}</p>
        <div class="col-12">
          <img src="/assets/images/baby-cci-mobil.jpg" width="100%" height="100%" />
        </div>
      </div>
    </div>
    <div class="clearfix"> </div>
    <div class="smile-cards-mobile" *ngFor="let item of (responseText|async).commonResponseText?.responses;let inx=index">
      <div class="smile-card-body hover light-blue" *ngIf='inx!=4' [ngClass]="(btnHighLight==item.value)? 'previous':''" (click)="callQuestion(item.value)">
        <div class="row valign">
          <div class="col-9">
            <p>{{item.text}}</p>
          </div>
          <div class="col-3">
            <span>
              <i class={{iconArray[inx]}}></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End  of interest-profiler assessment mobile design -->