<!-- Fixed navbar -->
<!-- Main component for a primary marketing message or call to action -->
<div class="intro-pages">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-5 text-center">
				<div class="desktop-design-display">
					<p class="right-border desktop-design-display p-2">
						<!-- POPUP in the mobile view when we click on help-->
						{{(osintroVal).commonText?.pageText?.introPage.leftSide}}
					</p>
					<button class="common-button green" type="button" (click)="startAssessment()">{{(osreturnedVal|async).commonText.start}} </button>
				</div>
				<div class="mobile-design-display">
					<a class="pointer pull-right pt-1" data-toggle="modal" data-target="#myModal2">
						<u>{{(osreturnedVal|async).commonText.more}}</u>
					</a>
					<span class="help-link  pull-right">
						<i class="fa icon-asmnt-strongly-agree" aria-hidden="true" data-toggle="modal" data-target="#myModal2"></i>
					</span>
					<br>
					<p class="right-border">{{(osintroVal).commonText?.pageText?.introPage.leftSide}}</p>
					<button class="common-button green" (click)="startAssessment()" type="button">{{(osreturnedVal|async).commonText.start}}</button>
				</div>
			</div>

			<div class="col-sm-7 col-md-7 desktop-design-display">
				<div *ngFor="let value of (osintroVal).commonText?.pageText?.introPage.rightSide">
					<h5 class="text-capitalize">{{value.header}} </h5>
					<ul class="intro-instruction-list">
						<li *ngFor="let val of value.list">{{val}}</li>
					</ul>
				</div>
				<img class="intro-img w-100" src="/assets/images/prograss-bar-with-circle.png" />
			</div>
		</div>
	</div>


	<!-- Destop End design -->
	<!-- mobile design -->
	<!-- POPUP-->
	<div class="mobile-design-display">
		<div class="modal" id="myModal2" role="dialog">
			<div class="modal-dialog  model-width">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="font-weight-bold common-headding">{{assessName}}</h5>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<div *ngFor="let value of (osintroVal).commonText?.pageText?.introPage.rightSide">
							<h6 class="font-weight-bold"> {{value.header}} </h6>
							<ul class="intro-instruction-list">
								<li *ngFor="let val of value.list">{{val}}</li>
							</ul>
						</div>
						<img class="intro-img" src="/assets/images/occ-sort.png" />
					</div>
					<div class="modal-footer">
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<!-- POPUP ->
<!-- End mobile design -->